# ===== ANDROID =====
.gradle/
.idea/
app/build/
build/
local.properties
*.iml
*.hprof
*.keystore
!debug.keystore
.cxx/

# ===== OS =====
.DS_Store
Thumbs.db

# ===== IDE =====
.idea/
.vscode/

# ===== NODE =====
node_modules/
npm-debug.log
yarn-error.log

# ===== MISC =====
*.jsbundle
/coverage
